body
{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

.bg-navbar
{
	background-color: #0C44CD;
}

.container
{
	max-width: 1200px;
}

footer
{
	font-size: 14px;
	color: black;
	text-align:center;
	margin-top: 20px;
	padding: 20px;
}

.loginAndRegisterForm
{
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right:auto;
	margin-left:auto;
	max-width: 500px;
}

.financialMovementsForm
{
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right:auto;
	margin-left:auto;
	max-width: 600px;
}

.btn-primary
{
	background-color: #0C44CD;
}

@media (max-width: 636px){
	.loginAndRegisterForm{
		margin-right: 20px;
		margin-left: 20px;
	}
	.financialMovementsForm{
		margin-right: 20px;
		margin-left: 20px;
	}
}

.errorNotyfication
{
	color: red;
	font-weight: 700;
}


.successNotyfication
{
	font-weight: 700;
	color: green;
}